<div *ngIf="questions.length>0" class="row exam">
    <div class="col-md-8 col-sm-8">
      <div class="question">
        {{questions[currentQuestion].questionText }}
        <br/>
        {{examResults |json }}
      </div>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <div class="exam_nav ">
        <button [disabled]="examResults[questions[currentQuestion].id]" (click)="confirmAnswer()" type="button" class="btn btn-sm sht btn-secondary">ՀԱՍՏԱՏԵԼ</button>
        <button (click)="nextQuestion()" type="button" class="btn btn-sm sht btn-secondary">&#10152;</button>
        <button (click)="saveAnswer()" type="button" class="btn btn-sm sht btn-secondary" style="display: none">ՊԱՀՊԱՆԵԼ</button>
      </div>
      <div class="answers" [ngSwitch]="currentQuestion">
          <!--<div *ngSwitchCase="1">
            
          </div>
          <div *ngSwitchCase="1">
          
          </div>
          <div *ngSwitchCase="1">
          
          </div>
          <div *ngSwitchCase="1">

          </div>
        -->
          <div *ngSwitchDefault>
            <ol>
              <li *ngFor="let i of [0,1,2,3]">
                <input type='checkbox' [disabled]="examResults[questions[currentQuestion].id]" (change)="selectAnswer($event, i)" [(ngModel)]="answerTypes[1][i]" title="Answer {{i+1}}" />
              </li>
            </ol>
          </div>
      </div>
      Լրացվել է {{nbAnswered || 0}}<br/>
      Մնացել է {{(questions.length - nbAnswered) || 0 }}<br/>
      Ճիշտ է 0<br/>
      Սխալ է 0<br/>
      <br />
      <button type="button" class="btn btn-sm sht btn-secondary">ԱՎԱՐՏԵԼ</button>
    
    </div>
  </div>
