.exam {
    color:white;
}
.question, .answers {
    background: white;
    color:black;
    border-radius: 20px;
    display: block;
    min-height: 200px;
    padding:10px;
}

.answers {
    margin: 10px 0;
    min-height: 100px;
}
.answers ol {
    width:80px;
    margin: auto;
    text-align: center;
}
.answers input[type='checkbox'] {
    width:18px;
    height:18px;
    margin-top:5px;
}

.exam_nav {
    margin:auto;
}

.exam_nav .btn {
    margin-left:3px;
    outline:none;
}

.exam_res {
    color: white;
    margin:auto;
    list-style: none;
    position: relative;
    padding:10px;
    display: inline-block;
    width:250px;
    text-align: left;
}

.exam_res .txt {
    margin-left:30px;
    left:30px;
    position: absolute;
}

.correct {
    background: #B790FC;
    color:black;
    opacity: 0.9;
}

.wrong {
    background: #FD0000;
    color:black;
    opacity: 0.9
}
