<div class="row exam">
    <div class="col-md-8 col-sm-8">
      <div class="question">
        Hello, I am a question;<br/>
        <ol>
          <li>Answer 1</li>
          <li>Answer 2</li>
          <li>Answer 3</li>
          <li>Answer 4</li>
        </ol>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <div class="exam_nav ">
        <button type="button" class="btn btn-sm sht btn-secondary">ՀԱՍՏԱՏԵԼ</button>
        <button type="button" class="btn btn-sm sht btn-secondary">&#10152;</button>
        <button type="button" class="btn btn-sm sht btn-secondary">ՊԱՀՊԱՆԵԼ</button>
      </div>
      <div class="answers">
        <ol>
          <li><input type="checkbox" title="Answer 1" /></li>
          <li><input type="checkbox" title="Answer 2" /></li>
          <li><input type="checkbox" title="Answer 3" /></li>
          <li><input type="checkbox" title="Answer 4" /></li>
        </ol>
      </div>
      Լրացվել է 0<br/>
      Մնացել է 1000<br/>
      Ճիշտ է 0<br/>
      Սխալ է 0<br/>
      <button type="button" class="btn btn-sm sht btn-secondary">ԱՎԱՐՏԵԼ</button>
    
    </div>
  </div>
